# Ignore all data files (Proprietary or sensitive data)
*.xlsx
*.xlsm
*.xls
*.csv

# Ignore Case Study 1 (Due to data privacy concerns)
01_QA-Analytics/

# Ignore all environment variable files
.env

# Ignore the virtual environment directory
daen400_venv/